*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: auto;
    
}

.allsector{
    width: 80%;
    margin: auto;
}

.navbar{
    width: 80%;
    margin: auto;
    padding: 20px;
    
}

ul{
    list-style: none;
    display: inline-block;
}

i{
    display: inline-block;
}

.consuloan{
    display: inline-block;
    font-size: 15pt;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    margin: 20px;
}
.il{
    margin-left: 20px;
}

.sector1{
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('https://picsum.photos/1500/500');
    margin-top: 10px;
    padding: 130px;
    background-size:cover ;
    background-attachment: fixed;
}

ul li a{
    font-size: 14pt;
}

.type{
    
}

.p1{
    display: inline-block;
    color: aqua;
    font-size: 30pt;
}

.p2{
    display: inline-block;
    color: rgb(255, 81, 0);
    font-size: 30pt;

}
.red{
    padding: 10px 20px;
    background-color: rgb(255, 81, 0);;
    margin-top: 20px;
}

.blue{
    padding: 10px 20px;
    background-color: aqua;
    margin-left: 20px;
    margin-top: 20px;

}

.sector2{
    width: 100%;
    margin: 40px 0;
}

.area{
    width: 80%;
    margin: auto;
}

.img{
    width: 40%;
    background-image: url('https://picsum.photos/500/300');
    height: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
}

.clear{
    clear: both;
}

.t-area{
    width: 55%;
    display: inline-block;
    float: right;
}

span{
    color: red;
}

.tt{
    font-size: 20pt;
}

.tt1{
    margin-top: 10px;
}

.rb{
    padding: 10px 20px;
    background-color: rgb(255, 81, 0);;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}

.sector3{
    width: 100%;
    background-image: url('https://picsum.photos/1400/500');
    height: 400px;    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.area3{
    width: 80%;
    margin: auto;
    padding: 50px;
}

h1{
    color: aqua;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
}

.box{
    width: 33%;
    display: inline-block;
    padding: 30px;
    box-sizing: border-box;
}

.box1{
    background-color:   white;
}

.box2{
    background-color: darkblue;
}

.up{
    font-size: 20pt;
    color: black;
    margin-bottom: 20px;
}

.upp{
    font-size: 20pt;
    color: white;
    margin-bottom: 20px;
}

.lol{
    color: white;
}

.sector4{
    width: 100%;
}

.area5{
    width: 80%;
    margin: auto;
}


.happy{
    font-size: 30pt;
    text-align: center;
    margin-bottom: 20px;
}

.img1{
    background-image: url('1585071361_keanu02-zahod.jpg');
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
}

.images{
    width: 40%;
    margin: auto;
}

.img2{
    background-image: url('cult-corner-martin.jpg');
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.sector5{
    width: 100%;
    background-image: url('https://picsum.photos/1400/501');
    height: 450px;
    background-repeat: no-repeat;
    margin-top: 40px;
    background-size: cover;
    background-attachment: fixed;

}

.packet1{
    width: 25%;
    height: 300px;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
}

.num{
    font-size: 40pt;
    color: red;
    text-align: center;
    display: inline-block;
}

.lor{
    margin-top: 20px;
}

.bbttnn{
    padding: 10px 30px;
    margin-top: 30px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;

}

.bbttnnrd{
    background-color: red;
    padding: 10px 30px;
    margin-top: 30px;
    border: none;
    color: white;
    border-radius: 4px;
    outline: none;

}

.sector6{
    width: 100%;
    margin-top: 20px;
}

.area6{
    width: 80%;
    margin: auto;
}

.imgg{
    width: 50%;
    display: inline-block;
}

.image1{
    background-image: url('https://picsum.photos/id/237/200/300');
    height: 300px;
    background-repeat: no-repeat;
}


.latest{
    font-size: 20pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.m1{
    display: inline-block;
}